--
-- PostgreSQL database dump
--

\restrict 4B7ZHvaUJJVI34IaCw8ETGv23su3urFluQ7mvaW0NWEmxoEfaIBqZodIf3GduLE

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analytics_equipmentreliability; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.analytics_equipmentreliability (
    id bigint NOT NULL,
    failure_count integer NOT NULL,
    total_downtime_hours numeric(10,2) NOT NULL,
    mtbf_hours numeric(10,2),
    mttr_hours numeric(10,2),
    availability_percent numeric(5,2),
    calculated_at timestamp with time zone NOT NULL,
    equipment_id bigint NOT NULL,
    CONSTRAINT analytics_equipmentreliability_failure_count_check CHECK ((failure_count >= 0))
);


ALTER TABLE public.analytics_equipmentreliability OWNER TO toir_user;

--
-- Name: analytics_equipmentreliability_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.analytics_equipmentreliability ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.analytics_equipmentreliability_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: analytics_failureprediction; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.analytics_failureprediction (
    id bigint NOT NULL,
    predicted_failure_date date NOT NULL,
    confidence_percent numeric(5,2) NOT NULL,
    prediction_basis text NOT NULL,
    is_acknowledged boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    equipment_id bigint NOT NULL
);


ALTER TABLE public.analytics_failureprediction OWNER TO toir_user;

--
-- Name: analytics_failureprediction_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.analytics_failureprediction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.analytics_failureprediction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO toir_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO toir_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO toir_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO toir_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_apscheduler_djangojob; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.django_apscheduler_djangojob (
    id character varying(255) NOT NULL,
    next_run_time timestamp with time zone,
    job_state bytea NOT NULL
);


ALTER TABLE public.django_apscheduler_djangojob OWNER TO toir_user;

--
-- Name: django_apscheduler_djangojobexecution; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.django_apscheduler_djangojobexecution (
    id bigint NOT NULL,
    status character varying(50) NOT NULL,
    run_time timestamp with time zone NOT NULL,
    duration numeric(15,2),
    finished numeric(15,2),
    exception character varying(1000),
    traceback text,
    job_id character varying(255) NOT NULL
);


ALTER TABLE public.django_apscheduler_djangojobexecution OWNER TO toir_user;

--
-- Name: django_apscheduler_djangojobexecution_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.django_apscheduler_djangojobexecution ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_apscheduler_djangojobexecution_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO toir_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO toir_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO toir_user;

--
-- Name: equipment_equipment; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.equipment_equipment (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    inventory_number character varying(100) NOT NULL,
    serial_number character varying(100) NOT NULL,
    manufacturer character varying(200) NOT NULL,
    model character varying(200) NOT NULL,
    category character varying(100) NOT NULL,
    location character varying(255) NOT NULL,
    installation_date date,
    warranty_expiry_date date,
    status character varying(20) NOT NULL,
    specifications jsonb NOT NULL,
    passport_file character varying(100),
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.equipment_equipment OWNER TO toir_user;

--
-- Name: equipment_equipment_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.equipment_equipment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.equipment_equipment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: equipment_maintenanceregulation; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.equipment_maintenanceregulation (
    id bigint NOT NULL,
    maintenance_type character varying(20) NOT NULL,
    interval_days integer NOT NULL,
    description text NOT NULL,
    equipment_id bigint NOT NULL,
    CONSTRAINT equipment_maintenanceregulation_interval_days_check CHECK ((interval_days >= 0))
);


ALTER TABLE public.equipment_maintenanceregulation OWNER TO toir_user;

--
-- Name: equipment_maintenanceregulation_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.equipment_maintenanceregulation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.equipment_maintenanceregulation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: maintenance_maintenancehistory; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.maintenance_maintenancehistory (
    id bigint NOT NULL,
    maintenance_type character varying(20) NOT NULL,
    performed_at timestamp with time zone NOT NULL,
    duration_hours numeric(5,1),
    work_performed text NOT NULL,
    parts_replaced text NOT NULL,
    next_due_date date,
    created_at timestamp with time zone NOT NULL,
    equipment_id bigint NOT NULL,
    plan_id bigint,
    performed_by_id bigint NOT NULL
);


ALTER TABLE public.maintenance_maintenancehistory OWNER TO toir_user;

--
-- Name: maintenance_maintenancehistory_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.maintenance_maintenancehistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.maintenance_maintenancehistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: maintenance_maintenanceplan; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.maintenance_maintenanceplan (
    id bigint NOT NULL,
    maintenance_type character varying(20) NOT NULL,
    scheduled_date date NOT NULL,
    estimated_duration_hours numeric(5,1),
    status character varying(15) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    equipment_id bigint NOT NULL,
    assigned_to_id bigint,
    regulation_id bigint
);


ALTER TABLE public.maintenance_maintenanceplan OWNER TO toir_user;

--
-- Name: maintenance_maintenanceplan_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.maintenance_maintenanceplan ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.maintenance_maintenanceplan_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: maintenance_maintenanceschedule; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.maintenance_maintenanceschedule (
    id bigint NOT NULL,
    scheduled_date date NOT NULL,
    status character varying(15) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    equipment_id bigint NOT NULL,
    regulation_id bigint NOT NULL
);


ALTER TABLE public.maintenance_maintenanceschedule OWNER TO toir_user;

--
-- Name: maintenance_maintenanceschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.maintenance_maintenanceschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.maintenance_maintenanceschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_notification; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.notifications_notification (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    notification_type character varying(30) NOT NULL,
    is_read boolean NOT NULL,
    related_object_id integer,
    related_object_type character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT notifications_notification_related_object_id_check CHECK ((related_object_id >= 0))
);


ALTER TABLE public.notifications_notification OWNER TO toir_user;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.notifications_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: repair_requests_repairrequest; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.repair_requests_repairrequest (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    priority character varying(10) NOT NULL,
    status character varying(15) NOT NULL,
    resolution_notes text NOT NULL,
    completed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    equipment_id bigint NOT NULL,
    created_by_id bigint NOT NULL,
    assigned_to_id bigint
);


ALTER TABLE public.repair_requests_repairrequest OWNER TO toir_user;

--
-- Name: repair_requests_repairrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.repair_requests_repairrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.repair_requests_repairrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO toir_user;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO toir_user;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    role character varying(20) NOT NULL,
    phone character varying(20) NOT NULL,
    department character varying(100) NOT NULL,
    is_email_notifications_enabled boolean NOT NULL,
    full_name character varying(255) NOT NULL
);


ALTER TABLE public.users_user OWNER TO toir_user;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO toir_user;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: toir_user
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO toir_user;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: toir_user
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: analytics_equipmentreliability analytics_equipmentreliability_equipment_id_key; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.analytics_equipmentreliability
    ADD CONSTRAINT analytics_equipmentreliability_equipment_id_key UNIQUE (equipment_id);


--
-- Name: analytics_equipmentreliability analytics_equipmentreliability_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.analytics_equipmentreliability
    ADD CONSTRAINT analytics_equipmentreliability_pkey PRIMARY KEY (id);


--
-- Name: analytics_failureprediction analytics_failureprediction_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.analytics_failureprediction
    ADD CONSTRAINT analytics_failureprediction_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_apscheduler_djangojob django_apscheduler_djangojob_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_apscheduler_djangojob
    ADD CONSTRAINT django_apscheduler_djangojob_pkey PRIMARY KEY (id);


--
-- Name: django_apscheduler_djangojobexecution django_apscheduler_djangojobexecution_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_apscheduler_djangojobexecution
    ADD CONSTRAINT django_apscheduler_djangojobexecution_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: equipment_equipment equipment_equipment_inventory_number_key; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.equipment_equipment
    ADD CONSTRAINT equipment_equipment_inventory_number_key UNIQUE (inventory_number);


--
-- Name: equipment_equipment equipment_equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.equipment_equipment
    ADD CONSTRAINT equipment_equipment_pkey PRIMARY KEY (id);


--
-- Name: equipment_maintenanceregulation equipment_maintenanceregulation_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.equipment_maintenanceregulation
    ADD CONSTRAINT equipment_maintenanceregulation_pkey PRIMARY KEY (id);


--
-- Name: maintenance_maintenancehistory maintenance_maintenancehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenancehistory
    ADD CONSTRAINT maintenance_maintenancehistory_pkey PRIMARY KEY (id);


--
-- Name: maintenance_maintenancehistory maintenance_maintenancehistory_plan_id_key; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenancehistory
    ADD CONSTRAINT maintenance_maintenancehistory_plan_id_key UNIQUE (plan_id);


--
-- Name: maintenance_maintenanceplan maintenance_maintenanceplan_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceplan
    ADD CONSTRAINT maintenance_maintenanceplan_pkey PRIMARY KEY (id);


--
-- Name: maintenance_maintenanceschedule maintenance_maintenanceschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceschedule
    ADD CONSTRAINT maintenance_maintenanceschedule_pkey PRIMARY KEY (id);


--
-- Name: notifications_notification notifications_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_pkey PRIMARY KEY (id);


--
-- Name: repair_requests_repairrequest repair_requests_repairrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.repair_requests_repairrequest
    ADD CONSTRAINT repair_requests_repairrequest_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: django_apscheduler_djangojobexecution unique_job_executions; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_apscheduler_djangojobexecution
    ADD CONSTRAINT unique_job_executions UNIQUE (job_id, run_time);


--
-- Name: maintenance_maintenanceschedule unique_regulation_scheduled_date; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceschedule
    ADD CONSTRAINT unique_regulation_scheduled_date UNIQUE (regulation_id, scheduled_date);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: analytics_failureprediction_equipment_id_acdbf283; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX analytics_failureprediction_equipment_id_acdbf283 ON public.analytics_failureprediction USING btree (equipment_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_apscheduler_djangojob_next_run_time_2f022619; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX django_apscheduler_djangojob_next_run_time_2f022619 ON public.django_apscheduler_djangojob USING btree (next_run_time);


--
-- Name: django_apscheduler_djangojobexecution_job_id_daf5090a; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX django_apscheduler_djangojobexecution_job_id_daf5090a ON public.django_apscheduler_djangojobexecution USING btree (job_id);


--
-- Name: django_apscheduler_djangojobexecution_run_time_16edd96b; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX django_apscheduler_djangojobexecution_run_time_16edd96b ON public.django_apscheduler_djangojobexecution USING btree (run_time);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: equipment_equipment_inventory_number_d8c70284_like; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX equipment_equipment_inventory_number_d8c70284_like ON public.equipment_equipment USING btree (inventory_number varchar_pattern_ops);


--
-- Name: equipment_maintenanceregulation_equipment_id_335122be; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX equipment_maintenanceregulation_equipment_id_335122be ON public.equipment_maintenanceregulation USING btree (equipment_id);


--
-- Name: maintenance_maintenancehistory_equipment_id_53f54111; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX maintenance_maintenancehistory_equipment_id_53f54111 ON public.maintenance_maintenancehistory USING btree (equipment_id);


--
-- Name: maintenance_maintenancehistory_performed_by_id_cc5fa903; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX maintenance_maintenancehistory_performed_by_id_cc5fa903 ON public.maintenance_maintenancehistory USING btree (performed_by_id);


--
-- Name: maintenance_maintenanceplan_assigned_to_id_05481fad; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX maintenance_maintenanceplan_assigned_to_id_05481fad ON public.maintenance_maintenanceplan USING btree (assigned_to_id);


--
-- Name: maintenance_maintenanceplan_equipment_id_7969a1ad; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX maintenance_maintenanceplan_equipment_id_7969a1ad ON public.maintenance_maintenanceplan USING btree (equipment_id);


--
-- Name: maintenance_maintenanceplan_regulation_id_56fa2f82; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX maintenance_maintenanceplan_regulation_id_56fa2f82 ON public.maintenance_maintenanceplan USING btree (regulation_id);


--
-- Name: maintenance_maintenanceschedule_equipment_id_0b1b3e3c; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX maintenance_maintenanceschedule_equipment_id_0b1b3e3c ON public.maintenance_maintenanceschedule USING btree (equipment_id);


--
-- Name: maintenance_maintenanceschedule_regulation_id_8b791628; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX maintenance_maintenanceschedule_regulation_id_8b791628 ON public.maintenance_maintenanceschedule USING btree (regulation_id);


--
-- Name: notifications_notification_user_id_b5e8c0ff; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX notifications_notification_user_id_b5e8c0ff ON public.notifications_notification USING btree (user_id);


--
-- Name: repair_requests_repairrequest_assigned_to_id_2240e9f7; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX repair_requests_repairrequest_assigned_to_id_2240e9f7 ON public.repair_requests_repairrequest USING btree (assigned_to_id);


--
-- Name: repair_requests_repairrequest_created_by_id_79a0cab6; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX repair_requests_repairrequest_created_by_id_79a0cab6 ON public.repair_requests_repairrequest USING btree (created_by_id);


--
-- Name: repair_requests_repairrequest_equipment_id_5aea7705; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX repair_requests_repairrequest_equipment_id_5aea7705 ON public.repair_requests_repairrequest USING btree (equipment_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: toir_user
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: analytics_equipmentreliability analytics_equipmentr_equipment_id_35b90fe2_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.analytics_equipmentreliability
    ADD CONSTRAINT analytics_equipmentr_equipment_id_35b90fe2_fk_equipment FOREIGN KEY (equipment_id) REFERENCES public.equipment_equipment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: analytics_failureprediction analytics_failurepre_equipment_id_acdbf283_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.analytics_failureprediction
    ADD CONSTRAINT analytics_failurepre_equipment_id_acdbf283_fk_equipment FOREIGN KEY (equipment_id) REFERENCES public.equipment_equipment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_apscheduler_djangojobexecution django_apscheduler_djangojobexecution_job_id_daf5090a_fk; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.django_apscheduler_djangojobexecution
    ADD CONSTRAINT django_apscheduler_djangojobexecution_job_id_daf5090a_fk FOREIGN KEY (job_id) REFERENCES public.django_apscheduler_djangojob(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: equipment_maintenanceregulation equipment_maintenanc_equipment_id_335122be_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.equipment_maintenanceregulation
    ADD CONSTRAINT equipment_maintenanc_equipment_id_335122be_fk_equipment FOREIGN KEY (equipment_id) REFERENCES public.equipment_equipment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenanceplan maintenance_maintena_assigned_to_id_05481fad_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceplan
    ADD CONSTRAINT maintenance_maintena_assigned_to_id_05481fad_fk_users_use FOREIGN KEY (assigned_to_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenanceschedule maintenance_maintena_equipment_id_0b1b3e3c_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceschedule
    ADD CONSTRAINT maintenance_maintena_equipment_id_0b1b3e3c_fk_equipment FOREIGN KEY (equipment_id) REFERENCES public.equipment_equipment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenancehistory maintenance_maintena_equipment_id_53f54111_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenancehistory
    ADD CONSTRAINT maintenance_maintena_equipment_id_53f54111_fk_equipment FOREIGN KEY (equipment_id) REFERENCES public.equipment_equipment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenanceplan maintenance_maintena_equipment_id_7969a1ad_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceplan
    ADD CONSTRAINT maintenance_maintena_equipment_id_7969a1ad_fk_equipment FOREIGN KEY (equipment_id) REFERENCES public.equipment_equipment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenancehistory maintenance_maintena_performed_by_id_cc5fa903_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenancehistory
    ADD CONSTRAINT maintenance_maintena_performed_by_id_cc5fa903_fk_users_use FOREIGN KEY (performed_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenancehistory maintenance_maintena_plan_id_4558498c_fk_maintenan; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenancehistory
    ADD CONSTRAINT maintenance_maintena_plan_id_4558498c_fk_maintenan FOREIGN KEY (plan_id) REFERENCES public.maintenance_maintenanceplan(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenanceplan maintenance_maintena_regulation_id_56fa2f82_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceplan
    ADD CONSTRAINT maintenance_maintena_regulation_id_56fa2f82_fk_equipment FOREIGN KEY (regulation_id) REFERENCES public.equipment_maintenanceregulation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: maintenance_maintenanceschedule maintenance_maintena_regulation_id_8b791628_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.maintenance_maintenanceschedule
    ADD CONSTRAINT maintenance_maintena_regulation_id_8b791628_fk_equipment FOREIGN KEY (regulation_id) REFERENCES public.equipment_maintenanceregulation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notification_user_id_b5e8c0ff_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_user_id_b5e8c0ff_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: repair_requests_repairrequest repair_requests_repa_assigned_to_id_2240e9f7_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.repair_requests_repairrequest
    ADD CONSTRAINT repair_requests_repa_assigned_to_id_2240e9f7_fk_users_use FOREIGN KEY (assigned_to_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: repair_requests_repairrequest repair_requests_repa_created_by_id_79a0cab6_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.repair_requests_repairrequest
    ADD CONSTRAINT repair_requests_repa_created_by_id_79a0cab6_fk_users_use FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: repair_requests_repairrequest repair_requests_repa_equipment_id_5aea7705_fk_equipment; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.repair_requests_repairrequest
    ADD CONSTRAINT repair_requests_repa_equipment_id_5aea7705_fk_equipment FOREIGN KEY (equipment_id) REFERENCES public.equipment_equipment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_users_use FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: toir_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 4B7ZHvaUJJVI34IaCw8ETGv23su3urFluQ7mvaW0NWEmxoEfaIBqZodIf3GduLE

